<html>
    <head></head>
    <body>
        <table
            style='
            padding: 10px;
            padding-left: 20px;
            padding-right: 30px;
            border: 0px solid #ccc;
            width: 350px;
            height: 350px;
            min-height: 350px;
            font-family: monospace;
            '
            background = "{{POSTIT}}"
            >
            <tr>
                <td
                    style='
                    padding-top: 120px;
                    padding-left: 30px;
                    height: 150px;
                    text-align: center;
                    border: 0px solid #ccc;
                    font-family: monospace;
                    '
                    ><strong>Olá, {{NOME}}.</strong></td>
            </tr>
            <tr style='
                position: relative;
                bottom: 30px;'>
                <td style='
                    padding-left: 30px;
                    padding-bottom: 30px;
                    height: 200px;
                    text-align: left;
                    border: 0px solid #ccc;
                    font-family: monospace;
                    color: black;
                    '>{{MENSAGEM}}
                </td>
            </tr>
        </table>
    </body>
</html>