.flag-ad { background-image: url(icons/flags/flag_ad.png) !important; background-repeat: no-repeat; }
.flag-ae { background-image: url(icons/flags/flag_ae.png) !important; background-repeat: no-repeat; }
.flag-af { background-image: url(icons/flags/flag_af.png) !important; background-repeat: no-repeat; }
.flag-ag { background-image: url(icons/flags/flag_ag.png) !important; background-repeat: no-repeat; }
.flag-ai { background-image: url(icons/flags/flag_ai.png) !important; background-repeat: no-repeat; }
.flag-al { background-image: url(icons/flags/flag_al.png) !important; background-repeat: no-repeat; }
.flag-am { background-image: url(icons/flags/flag_am.png) !important; background-repeat: no-repeat; }
.flag-an { background-image: url(icons/flags/flag_an.png) !important; background-repeat: no-repeat; }
.flag-ao { background-image: url(icons/flags/flag_ao.png) !important; background-repeat: no-repeat; }
.flag-ar { background-image: url(icons/flags/flag_ar.png) !important; background-repeat: no-repeat; }
.flag-as { background-image: url(icons/flags/flag_as.png) !important; background-repeat: no-repeat; }
.flag-at { background-image: url(icons/flags/flag_at.png) !important; background-repeat: no-repeat; }
.flag-au { background-image: url(icons/flags/flag_au.png) !important; background-repeat: no-repeat; }
.flag-aw { background-image: url(icons/flags/flag_aw.png) !important; background-repeat: no-repeat; }
.flag-ax { background-image: url(icons/flags/flag_ax.png) !important; background-repeat: no-repeat; }
.flag-az { background-image: url(icons/flags/flag_az.png) !important; background-repeat: no-repeat; }
.flag-ba { background-image: url(icons/flags/flag_ba.png) !important; background-repeat: no-repeat; }
.flag-bb { background-image: url(icons/flags/flag_bb.png) !important; background-repeat: no-repeat; }
.flag-bd { background-image: url(icons/flags/flag_bd.png) !important; background-repeat: no-repeat; }
.flag-be { background-image: url(icons/flags/flag_be.png) !important; background-repeat: no-repeat; }
.flag-bf { background-image: url(icons/flags/flag_bf.png) !important; background-repeat: no-repeat; }
.flag-bg { background-image: url(icons/flags/flag_bg.png) !important; background-repeat: no-repeat; }
.flag-bh { background-image: url(icons/flags/flag_bh.png) !important; background-repeat: no-repeat; }
.flag-bi { background-image: url(icons/flags/flag_bi.png) !important; background-repeat: no-repeat; }
.flag-bj { background-image: url(icons/flags/flag_bj.png) !important; background-repeat: no-repeat; }
.flag-bm { background-image: url(icons/flags/flag_bm.png) !important; background-repeat: no-repeat; }
.flag-bn { background-image: url(icons/flags/flag_bn.png) !important; background-repeat: no-repeat; }
.flag-bo { background-image: url(icons/flags/flag_bo.png) !important; background-repeat: no-repeat; }
.flag-br { background-image: url(icons/flags/flag_br.png) !important; background-repeat: no-repeat; }
.flag-bs { background-image: url(icons/flags/flag_bs.png) !important; background-repeat: no-repeat; }
.flag-bt { background-image: url(icons/flags/flag_bt.png) !important; background-repeat: no-repeat; }
.flag-bv { background-image: url(icons/flags/flag_bv.png) !important; background-repeat: no-repeat; }
.flag-bw { background-image: url(icons/flags/flag_bw.png) !important; background-repeat: no-repeat; }
.flag-by { background-image: url(icons/flags/flag_by.png) !important; background-repeat: no-repeat; }
.flag-bz { background-image: url(icons/flags/flag_bz.png) !important; background-repeat: no-repeat; }
.flag-ca { background-image: url(icons/flags/flag_ca.png) !important; background-repeat: no-repeat; }
.flag-catalonia { background-image: url(icons/flags/flag_catalonia.png) !important; background-repeat: no-repeat; }
.flag-cc { background-image: url(icons/flags/flag_cc.png) !important; background-repeat: no-repeat; }
.flag-cd { background-image: url(icons/flags/flag_cd.png) !important; background-repeat: no-repeat; }
.flag-cf { background-image: url(icons/flags/flag_cf.png) !important; background-repeat: no-repeat; }
.flag-cg { background-image: url(icons/flags/flag_cg.png) !important; background-repeat: no-repeat; }
.flag-ch { background-image: url(icons/flags/flag_ch.png) !important; background-repeat: no-repeat; }
.flag-ci { background-image: url(icons/flags/flag_ci.png) !important; background-repeat: no-repeat; }
.flag-ck { background-image: url(icons/flags/flag_ck.png) !important; background-repeat: no-repeat; }
.flag-cl { background-image: url(icons/flags/flag_cl.png) !important; background-repeat: no-repeat; }
.flag-cm { background-image: url(icons/flags/flag_cm.png) !important; background-repeat: no-repeat; }
.flag-cn { background-image: url(icons/flags/flag_cn.png) !important; background-repeat: no-repeat; }
.flag-co { background-image: url(icons/flags/flag_co.png) !important; background-repeat: no-repeat; }
.flag-cr { background-image: url(icons/flags/flag_cr.png) !important; background-repeat: no-repeat; }
.flag-cs { background-image: url(icons/flags/flag_cs.png) !important; background-repeat: no-repeat; }
.flag-cu { background-image: url(icons/flags/flag_cu.png) !important; background-repeat: no-repeat; }
.flag-cv { background-image: url(icons/flags/flag_cv.png) !important; background-repeat: no-repeat; }
.flag-cx { background-image: url(icons/flags/flag_cx.png) !important; background-repeat: no-repeat; }
.flag-cy { background-image: url(icons/flags/flag_cy.png) !important; background-repeat: no-repeat; }
.flag-cz { background-image: url(icons/flags/flag_cz.png) !important; background-repeat: no-repeat; }
.flag-de { background-image: url(icons/flags/flag_de.png) !important; background-repeat: no-repeat; }
.flag-dj { background-image: url(icons/flags/flag_dj.png) !important; background-repeat: no-repeat; }
.flag-dk { background-image: url(icons/flags/flag_dk.png) !important; background-repeat: no-repeat; }
.flag-dm { background-image: url(icons/flags/flag_dm.png) !important; background-repeat: no-repeat; }
.flag-do { background-image: url(icons/flags/flag_do.png) !important; background-repeat: no-repeat; }
.flag-dz { background-image: url(icons/flags/flag_dz.png) !important; background-repeat: no-repeat; }
.flag-ec { background-image: url(icons/flags/flag_ec.png) !important; background-repeat: no-repeat; }
.flag-ee { background-image: url(icons/flags/flag_ee.png) !important; background-repeat: no-repeat; }
.flag-eg { background-image: url(icons/flags/flag_eg.png) !important; background-repeat: no-repeat; }
.flag-eh { background-image: url(icons/flags/flag_eh.png) !important; background-repeat: no-repeat; }
.flag-england { background-image: url(icons/flags/flag_england.png) !important; background-repeat: no-repeat; }
.flag-er { background-image: url(icons/flags/flag_er.png) !important; background-repeat: no-repeat; }
.flag-es { background-image: url(icons/flags/flag_es.png) !important; background-repeat: no-repeat; }
.flag-et { background-image: url(icons/flags/flag_et.png) !important; background-repeat: no-repeat; }
.flag-europeanunion { background-image: url(icons/flags/flag_europeanunion.png) !important; background-repeat: no-repeat; }
.flag-fam { background-image: url(icons/flags/flag_fam.png) !important; background-repeat: no-repeat; }
.flag-fi { background-image: url(icons/flags/flag_fi.png) !important; background-repeat: no-repeat; }
.flag-fj { background-image: url(icons/flags/flag_fj.png) !important; background-repeat: no-repeat; }
.flag-fk { background-image: url(icons/flags/flag_fk.png) !important; background-repeat: no-repeat; }
.flag-fm { background-image: url(icons/flags/flag_fm.png) !important; background-repeat: no-repeat; }
.flag-fo { background-image: url(icons/flags/flag_fo.png) !important; background-repeat: no-repeat; }
.flag-fr { background-image: url(icons/flags/flag_fr.png) !important; background-repeat: no-repeat; }
.flag-ga { background-image: url(icons/flags/flag_ga.png) !important; background-repeat: no-repeat; }
.flag-gb { background-image: url(icons/flags/flag_gb.png) !important; background-repeat: no-repeat; }
.flag-gd { background-image: url(icons/flags/flag_gd.png) !important; background-repeat: no-repeat; }
.flag-ge { background-image: url(icons/flags/flag_ge.png) !important; background-repeat: no-repeat; }
.flag-gf { background-image: url(icons/flags/flag_gf.png) !important; background-repeat: no-repeat; }
.flag-gh { background-image: url(icons/flags/flag_gh.png) !important; background-repeat: no-repeat; }
.flag-gi { background-image: url(icons/flags/flag_gi.png) !important; background-repeat: no-repeat; }
.flag-gl { background-image: url(icons/flags/flag_gl.png) !important; background-repeat: no-repeat; }
.flag-gm { background-image: url(icons/flags/flag_gm.png) !important; background-repeat: no-repeat; }
.flag-gn { background-image: url(icons/flags/flag_gn.png) !important; background-repeat: no-repeat; }
.flag-gp { background-image: url(icons/flags/flag_gp.png) !important; background-repeat: no-repeat; }
.flag-gq { background-image: url(icons/flags/flag_gq.png) !important; background-repeat: no-repeat; }
.flag-gr { background-image: url(icons/flags/flag_gr.png) !important; background-repeat: no-repeat; }
.flag-gs { background-image: url(icons/flags/flag_gs.png) !important; background-repeat: no-repeat; }
.flag-gt { background-image: url(icons/flags/flag_gt.png) !important; background-repeat: no-repeat; }
.flag-gu { background-image: url(icons/flags/flag_gu.png) !important; background-repeat: no-repeat; }
.flag-gw { background-image: url(icons/flags/flag_gw.png) !important; background-repeat: no-repeat; }
.flag-gy { background-image: url(icons/flags/flag_gy.png) !important; background-repeat: no-repeat; }
.flag-hk { background-image: url(icons/flags/flag_hk.png) !important; background-repeat: no-repeat; }
.flag-hm { background-image: url(icons/flags/flag_hm.png) !important; background-repeat: no-repeat; }
.flag-hn { background-image: url(icons/flags/flag_hn.png) !important; background-repeat: no-repeat; }
.flag-hr { background-image: url(icons/flags/flag_hr.png) !important; background-repeat: no-repeat; }
.flag-ht { background-image: url(icons/flags/flag_ht.png) !important; background-repeat: no-repeat; }
.flag-hu { background-image: url(icons/flags/flag_hu.png) !important; background-repeat: no-repeat; }
.flag-id { background-image: url(icons/flags/flag_id.png) !important; background-repeat: no-repeat; }
.flag-ie { background-image: url(icons/flags/flag_ie.png) !important; background-repeat: no-repeat; }
.flag-il { background-image: url(icons/flags/flag_il.png) !important; background-repeat: no-repeat; }
.flag-in { background-image: url(icons/flags/flag_in.png) !important; background-repeat: no-repeat; }
.flag-io { background-image: url(icons/flags/flag_io.png) !important; background-repeat: no-repeat; }
.flag-iq { background-image: url(icons/flags/flag_iq.png) !important; background-repeat: no-repeat; }
.flag-ir { background-image: url(icons/flags/flag_ir.png) !important; background-repeat: no-repeat; }
.flag-is { background-image: url(icons/flags/flag_is.png) !important; background-repeat: no-repeat; }
.flag-it { background-image: url(icons/flags/flag_it.png) !important; background-repeat: no-repeat; }
.flag-jm { background-image: url(icons/flags/flag_jm.png) !important; background-repeat: no-repeat; }
.flag-jo { background-image: url(icons/flags/flag_jo.png) !important; background-repeat: no-repeat; }
.flag-jp { background-image: url(icons/flags/flag_jp.png) !important; background-repeat: no-repeat; }
.flag-ke { background-image: url(icons/flags/flag_ke.png) !important; background-repeat: no-repeat; }
.flag-kg { background-image: url(icons/flags/flag_kg.png) !important; background-repeat: no-repeat; }
.flag-kh { background-image: url(icons/flags/flag_kh.png) !important; background-repeat: no-repeat; }
.flag-ki { background-image: url(icons/flags/flag_ki.png) !important; background-repeat: no-repeat; }
.flag-km { background-image: url(icons/flags/flag_km.png) !important; background-repeat: no-repeat; }
.flag-kn { background-image: url(icons/flags/flag_kn.png) !important; background-repeat: no-repeat; }
.flag-kp { background-image: url(icons/flags/flag_kp.png) !important; background-repeat: no-repeat; }
.flag-kr { background-image: url(icons/flags/flag_kr.png) !important; background-repeat: no-repeat; }
.flag-kw { background-image: url(icons/flags/flag_kw.png) !important; background-repeat: no-repeat; }
.flag-ky { background-image: url(icons/flags/flag_ky.png) !important; background-repeat: no-repeat; }
.flag-kz { background-image: url(icons/flags/flag_kz.png) !important; background-repeat: no-repeat; }
.flag-la { background-image: url(icons/flags/flag_la.png) !important; background-repeat: no-repeat; }
.flag-lb { background-image: url(icons/flags/flag_lb.png) !important; background-repeat: no-repeat; }
.flag-lc { background-image: url(icons/flags/flag_lc.png) !important; background-repeat: no-repeat; }
.flag-li { background-image: url(icons/flags/flag_li.png) !important; background-repeat: no-repeat; }
.flag-lk { background-image: url(icons/flags/flag_lk.png) !important; background-repeat: no-repeat; }
.flag-lr { background-image: url(icons/flags/flag_lr.png) !important; background-repeat: no-repeat; }
.flag-ls { background-image: url(icons/flags/flag_ls.png) !important; background-repeat: no-repeat; }
.flag-lt { background-image: url(icons/flags/flag_lt.png) !important; background-repeat: no-repeat; }
.flag-lu { background-image: url(icons/flags/flag_lu.png) !important; background-repeat: no-repeat; }
.flag-lv { background-image: url(icons/flags/flag_lv.png) !important; background-repeat: no-repeat; }
.flag-ly { background-image: url(icons/flags/flag_ly.png) !important; background-repeat: no-repeat; }
.flag-ma { background-image: url(icons/flags/flag_ma.png) !important; background-repeat: no-repeat; }
.flag-mc { background-image: url(icons/flags/flag_mc.png) !important; background-repeat: no-repeat; }
.flag-md { background-image: url(icons/flags/flag_md.png) !important; background-repeat: no-repeat; }
.flag-me { background-image: url(icons/flags/flag_me.png) !important; background-repeat: no-repeat; }
.flag-mg { background-image: url(icons/flags/flag_mg.png) !important; background-repeat: no-repeat; }
.flag-mh { background-image: url(icons/flags/flag_mh.png) !important; background-repeat: no-repeat; }
.flag-mk { background-image: url(icons/flags/flag_mk.png) !important; background-repeat: no-repeat; }
.flag-ml { background-image: url(icons/flags/flag_ml.png) !important; background-repeat: no-repeat; }
.flag-mm { background-image: url(icons/flags/flag_mm.png) !important; background-repeat: no-repeat; }
.flag-mn { background-image: url(icons/flags/flag_mn.png) !important; background-repeat: no-repeat; }
.flag-mo { background-image: url(icons/flags/flag_mo.png) !important; background-repeat: no-repeat; }
.flag-mp { background-image: url(icons/flags/flag_mp.png) !important; background-repeat: no-repeat; }
.flag-mq { background-image: url(icons/flags/flag_mq.png) !important; background-repeat: no-repeat; }
.flag-mr { background-image: url(icons/flags/flag_mr.png) !important; background-repeat: no-repeat; }
.flag-ms { background-image: url(icons/flags/flag_ms.png) !important; background-repeat: no-repeat; }
.flag-mt { background-image: url(icons/flags/flag_mt.png) !important; background-repeat: no-repeat; }
.flag-mu { background-image: url(icons/flags/flag_mu.png) !important; background-repeat: no-repeat; }
.flag-mv { background-image: url(icons/flags/flag_mv.png) !important; background-repeat: no-repeat; }
.flag-mw { background-image: url(icons/flags/flag_mw.png) !important; background-repeat: no-repeat; }
.flag-mx { background-image: url(icons/flags/flag_mx.png) !important; background-repeat: no-repeat; }
.flag-my { background-image: url(icons/flags/flag_my.png) !important; background-repeat: no-repeat; }
.flag-mz { background-image: url(icons/flags/flag_mz.png) !important; background-repeat: no-repeat; }
.flag-na { background-image: url(icons/flags/flag_na.png) !important; background-repeat: no-repeat; }
.flag-nc { background-image: url(icons/flags/flag_nc.png) !important; background-repeat: no-repeat; }
.flag-ne { background-image: url(icons/flags/flag_ne.png) !important; background-repeat: no-repeat; }
.flag-nf { background-image: url(icons/flags/flag_nf.png) !important; background-repeat: no-repeat; }
.flag-ng { background-image: url(icons/flags/flag_ng.png) !important; background-repeat: no-repeat; }
.flag-ni { background-image: url(icons/flags/flag_ni.png) !important; background-repeat: no-repeat; }
.flag-nl { background-image: url(icons/flags/flag_nl.png) !important; background-repeat: no-repeat; }
.flag-no { background-image: url(icons/flags/flag_no.png) !important; background-repeat: no-repeat; }
.flag-np { background-image: url(icons/flags/flag_np.png) !important; background-repeat: no-repeat; }
.flag-nr { background-image: url(icons/flags/flag_nr.png) !important; background-repeat: no-repeat; }
.flag-nu { background-image: url(icons/flags/flag_nu.png) !important; background-repeat: no-repeat; }
.flag-nz { background-image: url(icons/flags/flag_nz.png) !important; background-repeat: no-repeat; }
.flag-om { background-image: url(icons/flags/flag_om.png) !important; background-repeat: no-repeat; }
.flag-pa { background-image: url(icons/flags/flag_pa.png) !important; background-repeat: no-repeat; }
.flag-pe { background-image: url(icons/flags/flag_pe.png) !important; background-repeat: no-repeat; }
.flag-pf { background-image: url(icons/flags/flag_pf.png) !important; background-repeat: no-repeat; }
.flag-pg { background-image: url(icons/flags/flag_pg.png) !important; background-repeat: no-repeat; }
.flag-ph { background-image: url(icons/flags/flag_ph.png) !important; background-repeat: no-repeat; }
.flag-pk { background-image: url(icons/flags/flag_pk.png) !important; background-repeat: no-repeat; }
.flag-pl { background-image: url(icons/flags/flag_pl.png) !important; background-repeat: no-repeat; }
.flag-pm { background-image: url(icons/flags/flag_pm.png) !important; background-repeat: no-repeat; }
.flag-pn { background-image: url(icons/flags/flag_pn.png) !important; background-repeat: no-repeat; }
.flag-pr { background-image: url(icons/flags/flag_pr.png) !important; background-repeat: no-repeat; }
.flag-ps { background-image: url(icons/flags/flag_ps.png) !important; background-repeat: no-repeat; }
.flag-pt { background-image: url(icons/flags/flag_pt.png) !important; background-repeat: no-repeat; }
.flag-pw { background-image: url(icons/flags/flag_pw.png) !important; background-repeat: no-repeat; }
.flag-py { background-image: url(icons/flags/flag_py.png) !important; background-repeat: no-repeat; }
.flag-qa { background-image: url(icons/flags/flag_qa.png) !important; background-repeat: no-repeat; }
.flag-re { background-image: url(icons/flags/flag_re.png) !important; background-repeat: no-repeat; }
.flag-ro { background-image: url(icons/flags/flag_ro.png) !important; background-repeat: no-repeat; }
.flag-rs { background-image: url(icons/flags/flag_rs.png) !important; background-repeat: no-repeat; }
.flag-ru { background-image: url(icons/flags/flag_ru.png) !important; background-repeat: no-repeat; }
.flag-rw { background-image: url(icons/flags/flag_rw.png) !important; background-repeat: no-repeat; }
.flag-sa { background-image: url(icons/flags/flag_sa.png) !important; background-repeat: no-repeat; }
.flag-sb { background-image: url(icons/flags/flag_sb.png) !important; background-repeat: no-repeat; }
.flag-sc { background-image: url(icons/flags/flag_sc.png) !important; background-repeat: no-repeat; }
.flag-scotland { background-image: url(icons/flags/flag_scotland.png) !important; background-repeat: no-repeat; }
.flag-sd { background-image: url(icons/flags/flag_sd.png) !important; background-repeat: no-repeat; }
.flag-se { background-image: url(icons/flags/flag_se.png) !important; background-repeat: no-repeat; }
.flag-sg { background-image: url(icons/flags/flag_sg.png) !important; background-repeat: no-repeat; }
.flag-sh { background-image: url(icons/flags/flag_sh.png) !important; background-repeat: no-repeat; }
.flag-si { background-image: url(icons/flags/flag_si.png) !important; background-repeat: no-repeat; }
.flag-sj { background-image: url(icons/flags/flag_sj.png) !important; background-repeat: no-repeat; }
.flag-sk { background-image: url(icons/flags/flag_sk.png) !important; background-repeat: no-repeat; }
.flag-sl { background-image: url(icons/flags/flag_sl.png) !important; background-repeat: no-repeat; }
.flag-sm { background-image: url(icons/flags/flag_sm.png) !important; background-repeat: no-repeat; }
.flag-sn { background-image: url(icons/flags/flag_sn.png) !important; background-repeat: no-repeat; }
.flag-so { background-image: url(icons/flags/flag_so.png) !important; background-repeat: no-repeat; }
.flag-sr { background-image: url(icons/flags/flag_sr.png) !important; background-repeat: no-repeat; }
.flag-st { background-image: url(icons/flags/flag_st.png) !important; background-repeat: no-repeat; }
.flag-sv { background-image: url(icons/flags/flag_sv.png) !important; background-repeat: no-repeat; }
.flag-sy { background-image: url(icons/flags/flag_sy.png) !important; background-repeat: no-repeat; }
.flag-sz { background-image: url(icons/flags/flag_sz.png) !important; background-repeat: no-repeat; }
.flag-tc { background-image: url(icons/flags/flag_tc.png) !important; background-repeat: no-repeat; }
.flag-td { background-image: url(icons/flags/flag_td.png) !important; background-repeat: no-repeat; }
.flag-tf { background-image: url(icons/flags/flag_tf.png) !important; background-repeat: no-repeat; }
.flag-tg { background-image: url(icons/flags/flag_tg.png) !important; background-repeat: no-repeat; }
.flag-th { background-image: url(icons/flags/flag_th.png) !important; background-repeat: no-repeat; }
.flag-tj { background-image: url(icons/flags/flag_tj.png) !important; background-repeat: no-repeat; }
.flag-tk { background-image: url(icons/flags/flag_tk.png) !important; background-repeat: no-repeat; }
.flag-tl { background-image: url(icons/flags/flag_tl.png) !important; background-repeat: no-repeat; }
.flag-tm { background-image: url(icons/flags/flag_tm.png) !important; background-repeat: no-repeat; }
.flag-tn { background-image: url(icons/flags/flag_tn.png) !important; background-repeat: no-repeat; }
.flag-to { background-image: url(icons/flags/flag_to.png) !important; background-repeat: no-repeat; }
.flag-tr { background-image: url(icons/flags/flag_tr.png) !important; background-repeat: no-repeat; }
.flag-tt { background-image: url(icons/flags/flag_tt.png) !important; background-repeat: no-repeat; }
.flag-tv { background-image: url(icons/flags/flag_tv.png) !important; background-repeat: no-repeat; }
.flag-tw { background-image: url(icons/flags/flag_tw.png) !important; background-repeat: no-repeat; }
.flag-tz { background-image: url(icons/flags/flag_tz.png) !important; background-repeat: no-repeat; }
.flag-ua { background-image: url(icons/flags/flag_ua.png) !important; background-repeat: no-repeat; }
.flag-ug { background-image: url(icons/flags/flag_ug.png) !important; background-repeat: no-repeat; }
.flag-um { background-image: url(icons/flags/flag_um.png) !important; background-repeat: no-repeat; }
.flag-us { background-image: url(icons/flags/flag_us.png) !important; background-repeat: no-repeat; }
.flag-uy { background-image: url(icons/flags/flag_uy.png) !important; background-repeat: no-repeat; }
.flag-uz { background-image: url(icons/flags/flag_uz.png) !important; background-repeat: no-repeat; }
.flag-va { background-image: url(icons/flags/flag_va.png) !important; background-repeat: no-repeat; }
.flag-vc { background-image: url(icons/flags/flag_vc.png) !important; background-repeat: no-repeat; }
.flag-ve { background-image: url(icons/flags/flag_ve.png) !important; background-repeat: no-repeat; }
.flag-vg { background-image: url(icons/flags/flag_vg.png) !important; background-repeat: no-repeat; }
.flag-vi { background-image: url(icons/flags/flag_vi.png) !important; background-repeat: no-repeat; }
.flag-vn { background-image: url(icons/flags/flag_vn.png) !important; background-repeat: no-repeat; }
.flag-vu { background-image: url(icons/flags/flag_vu.png) !important; background-repeat: no-repeat; }
.flag-wales { background-image: url(icons/flags/flag_wales.png) !important; background-repeat: no-repeat; }
.flag-wf { background-image: url(icons/flags/flag_wf.png) !important; background-repeat: no-repeat; }
.flag-ws { background-image: url(icons/flags/flag_ws.png) !important; background-repeat: no-repeat; }
.flag-ye { background-image: url(icons/flags/flag_ye.png) !important; background-repeat: no-repeat; }
.flag-yt { background-image: url(icons/flags/flag_yt.png) !important; background-repeat: no-repeat; }
.flag-za { background-image: url(icons/flags/flag_za.png) !important; background-repeat: no-repeat; }
.flag-zm { background-image: url(icons/flags/flag_zm.png) !important; background-repeat: no-repeat; }
.flag-zw { background-image: url(icons/flags/flag_zw.png) !important; background-repeat: no-repeat; }
